<div class="container" id="catalog-con">
    <div class="row">
        <div id="aboutS" class="row">
                A company of flowers headed by David Mizrachi and Elia halle.
            <br>
                This company is familiar with flowers for various events such as bar / bat mitzvah weddings and especially Chabad events.
            </div>
        </div>
    </div>